* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Vazirmatn', sans-serif;
}

body {
    background-color: #f0f0f0; /* Light background for day mode */
    color: #333; /* Dark text color */
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* White background for container */
    transition: background-color 0.3s, color 0.3s;
}

.night {
    background-color: #1a1a1a; /* Dark background for night mode */
    color: #f0f0f0; /* Light text color */
}

.tab-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tablink {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ddd; /* Light grey for buttons */
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tablink:hover {
    background-color: #bbb; /* Darker grey on hover */
}

.tablink.active {
    background-color: #bbb; /* Dark background for active tab */
    color: white; /* White text for active tab */
}

hr {
    margin: 20px 0;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

select,
input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
    direction: rtl;
    margin: 5px;
}

select:focus,
input[type="text"]:focus {
    border-color: #555; /* Dark border on focus */
    outline: none; /* Remove default outline */
}

select {
    width: 20%;
}

.file-input-container {
    display: flex;
    align-items: center;
}

.file-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745; /* Green for file button */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-button:hover {
    background-color: #218838; /* Darker green on hover */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4; /* Light background for headers */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternate row color */
}

.cell-stock {
    background-color: #d4edda; /* Light green for in-stock */
}

.cell-low-stock {
    background-color: #fff3cd; /* Light yellow for low stock */
    color: #856404; /* Dark yellow for text */
}

.cell-out-of-stock {
    background-color: #f8d7da; /* Light red for out of stock */
    color: #721c24; /* Dark red for text */
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.info-table td {
    padding: 10px;
    border: none;
    text-align: right;
}

.info-table td span {
    font-weight: bold; /* Bold for numbers */
}

.toggle-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    background: none;
}

.toggle-button svg {
    width: 50%;
    height: 50%;
}

.toggle-button:hover {
    transform: scale(0.98);
}