* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Vazirmatn', sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.night {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

.night .tablink {
    background-color: #555;
    color: white;
}

.night .info-table {
    background-color: #333;
    color: #f0f0f0;
}

.night .search-container select,
.night .search-container input {
    background-color: #444;
    color: #f0f0f0;
    border: 1px solid #666;
}

.tab-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tablink {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tablink:hover {
    background-color: #bbb;
}

.tablink.active {
    background-color: #bbb;
    color: white;
}

hr {
    margin: 20px 0;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

select,
input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
    direction: rtl;
    margin: 5px;
}

select:focus,
input[type="text"]:focus {
    border-color: #555;
    outline: none;
}

select {
    width: 20%;
}

.file-input-container {
    display: flex;
    align-items: center;
}

.file-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.cell-stock {
    background-color: #d4edda; /* رنگ پس‌زمینه سبز */
    font-weight: bold; /* پر رنگ کردن متن */
}

.cell-low-stock {
    background-color: #fff3cd; /* رنگ پس‌زمینه زرد */
    color: #a17900; /* رنگ متن زرد */
    font-weight: bold; /* پر رنگ کردن متن */
}

.cell-out-of-stock {
    background-color: #f8d7da; /* رنگ پس‌زمینه قرمز */
    color: #ff0019; /* رنگ متن قرمز */
    font-weight: bold; /* پر رنگ کردن متن */
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.info-table td {
    padding: 10px;
    border: none;
    text-align: right;
}

.info-table td span {
    font-weight: bold;
}

.toggle-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    background: none;
}

.toggle-button svg {
    width: 50%;
    height: 50%;
}

.toggle-button:hover {
    transform: scale(0.98);
}

.night #excel-table {
    background-color: #333; /* رنگ پس‌زمینه جدول در حالت شب */
}

.night #excel-table th {
    background-color: #444; /* رنگ پس‌زمینه سرستون‌ها در حالت شب */
}

.night #excel-table td {
    border: 1px solid #555; /* رنگ مرز سلول‌ها در حالت شب */
    color: black;
}