* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Vazirmatn', sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.night {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

.tab-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tablink {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    color: #333;
    cursor: pointer;
}

.tablink:hover {
    background-color: #bbb;
}

.tablink.active {
    background-color: #bbb;
    color: white;
}

hr {
    margin: 20px 0;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

select,
input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
    direction: rtl;
    margin: 5px;
}

select:focus,
input[type="text"]:focus {
    border-color: #555;
    outline: none;
}

select {
    width: 20%;
}

.file-input-container {
    display: flex;
    align-items: center;
}

.file-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

.file-button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    white-space: nowrap; /* جلوگیری از شکستن متن به خطوط جدید */
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.cell-stock {
    background-color: #d4edda; /* رنگ پس‌زمینه سبز */
    font-weight: bold; /* پر رنگ کردن متن */
}

.cell-low-stock {
    background-color: #fff3cd; /* رنگ پس‌زمینه زرد */
    color: #a17900; /* رنگ متن زرد */
    font-weight: bold; /* پر رنگ کردن متن */
}

.cell-out-of-stock {
    background-color: #f8d7da; /* رنگ پس‌زمینه قرمز */
    color: #ff0019; /* رنگ متن قرمز */
    font-weight: bold; /* پر رنگ کردن متن */
}

.night .cell-stock {
    background-color: #2e7d32; /* رنگ پس‌زمینه سبز تیره */
    font-weight: bold; /* پر رنگ کردن متن */
}

.night .cell-low-stock {
    background-color: #ffeb3b; /* رنگ پس‌زمینه زرد روشن */
    color: #7a7a00; /* رنگ متن زرد تیره */
    font-weight: bold; /* پر رنگ کردن متن */
}

.night .cell-out-of-stock {
    background-color: #c62828; /* رنگ پس‌زمینه قرمز تیره */
    color: #ffffff; /* رنگ متن سفید */
    font-weight: bold; /* پر رنگ کردن متن */
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.info-table td {
    padding: 10px;
    border: none;
    text-align: right;
}

.info-table td span {
    font-weight: bold;
}

.toggle-button {
    position: fixed;
    bottom: 10px; /* فاصله از پایین */
    right: 80px; /* فاصله از راست */
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    background: none;
}

.toggle-button svg {
    width: 50px;
    height: 50px;
}

.night .toggle-button, .night .scroll-to-top {
    fill: white;
}

.toggle-button:hover {
    transform: scale(1.05);
}

.night #excel-table th {
    background-color: #9b9b9b; /* رنگ پس‌زمینه سرستون‌ها در حالت شب */
    color: black;
}

.night #excel-table td {
    color: black;
}

#excel-table {
    border-collapse: collapse;
    width: 100%;
    position: relative; /* برای استفاده از position: sticky */
    overflow: auto; /* برای فعال کردن اسکرول */
    max-height: 400px; /* حداکثر ارتفاع جدول */
}

.night #excel-table {
    background-color: gray;
}

#excel-table thead {
    position: sticky; /* ثابت کردن سرستون */
    top: 0; /* فاصله از بالای جدول */
    background-color: #f4f4f4; /* رنگ پس‌زمینه سرستون */
    z-index: 10; /* اطمینان از اینکه سرستون بالای سایر محتوا قرار گیرد */
}

#excel-table td:nth-child(6), /* ستون قیمت خرید */
#excel-table td:nth-child(8) { /* ستون سود */
    font-size: 50%; /* عرض دلخواه برای ستون‌ها */
}

#excel-table td:nth-child(6):hover, /* ستون قیمت خرید */
#excel-table td:nth-child(8):hover { /* ستون سود */
    font-size: 80%; /* عرض دلخواه برای ستون‌ها */
}

.scroll-to-top {
    position: fixed;
    bottom: 10px; /* فاصله از پایین */
    right: 20px; /* فاصله از راست */
    background: none; /* رنگ پس‌زمینه */
    border: none;
    cursor: pointer;
    z-index: 1000; /* اطمینان از اینکه دکمه بالای سایر محتوا قرار گیرد */
    display: none; /* پنهان کردن دکمه به طور پیش‌فرض */
    transition: transform 0.3s;
}

.scroll-to-top:hover {
    transform: scale(1.05);
}
